/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabecera */
header {
    background-color:rgb(171, 110, 135);
    color: #0e072b;
    padding: 10px;
    text-align: center;
}

.navbar {
    text-align: center;
    margin-top: 10px;
}

.navbar .nav-list {
    list-style: none;
    padding: 0;
}

.navbar .nav-list li {
    display: inline;
    margin: 0 15px;
}

.navbar .nav-list a {
    text-decoration: none;
    color: #f5e8f3;
    font-weight: bold;
}

.navbar .nav-list a:hover {
    text-decoration: underline;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* Barra lateral */
.sidebar {
    flex: 1;
    background-color: #f2cce8;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.sidebar h2 {
    color: #333;
}
.sidebar p {
    margin: 10px 0;
    color: rgb(5, 0, 1);
}

/* Contenido principal */
.content {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Pie de página */
.footer {
    background-color:rgb(171, 110, 135);
    color:#0e072b;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
